h1 {
    color: blue;  
}
li{
    margin: 10px;
}
.deleteBtn{
    margin: 10px;
}
.startContainer{
    background-color: aqua;
    padding: 5px;
}
header{
    margin: 20px;
}
#scoreboard{
    padding: 15px;
}